# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Next.js build output
.next
out

# IntelliJ
.idea

# Project heavy media
www/assets/video